Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-CORS==4.0.0
Flask-Limiter==3.5.0
gunicorn==21.2.0
Werkzeug==2.3.7
google-cloud-texttospeech==2.14.0
firebase-admin==6.1.0
python-dotenv==1.0.0
google-generativeai==0.3.0
requests==2.31.0
google-genai
python-dotenv==1.0.0
